@import "tailwindcss";

body {
  background-color: #0f1117;
  color: #e2e8f0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1d27;
}

::-webkit-scrollbar-thumb {
  background: #2a2d3a;
  border-radius: 3px;
}

::placeholder {
  color: #4a5066;
}
